@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title" style="color:white;">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div style="color:darkorange;">
    <p>
        Please check your email to reset your password.
    </p>
</div>
	
