@{
    ViewBag.Title = "Reset password confirmation";
}

<hgroup class="title" style="color:white;">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div style="color:darkorange;">
    <p>
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
