@{
    ViewBag.Title = "About";
}
<h2 style="color:white;">@ViewBag.Title</h2>
<h3 style="color:darkorange;">Pho Maison</h3>
<div class="container">
    <p class="col-md-12" style="color:white;">We are a fictitious, express-casual restaurant imagined by Sean Qiu, inventor of EZPZ Point of Sales ASP.Net MVC Application. Pho Maison was created to showcase what the front end could potentially look and function like for clients who are interested in a simple POS experience. For more information about EZPZPOS and to look at the source code, please hit the button below.</p>

    <p class="col-md-12" style="text-align:center;"><a href="https://github.com/seanqiusd/EZPZPOSMVC" target="blank" class="btn button-color">Learn more &raquo;</a></p>

</div>


