@{
    ViewBag.Title = "Contact";
}
<h2 style="color:white;">@ViewBag.Title.</h2>
<h3 style="color:white;">@ViewBag.Message</h3>

<address style="color:darkorange;">
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address style="color:white;">
    <strong>Support:</strong> <a style="color: darkorange;" href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a style="color: darkorange;" href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>