@{
    ViewBag.Title = "Contact";
}
@*<h2 style="color:white;">@ViewBag.Title</h2>*@
<h2 style="color:white;">Let's Connect!</h2>
<br />

<address style="color:darkorange;">
    1150 Software Developer Way<br />
    Coding, HI 11500-1150
    <br />
    <br />
    <abbr title="Phone" style="color:white !important;">P:</abbr>
    115.001.1500
</address>

<address style="color:white;">
    <strong>Questions:</strong> <a style="color: darkorange;" href="mailto:seanqiusoftdev@gmail.com">seanqiusoftdev@gmail.com</a><br />
</address>